[/Script/Engine.GameNetworkManager]
TotalNetBandwidth=$TOTAL_NET_BANDWIDTH
MaxDynamicBandwidth=$MAX_DYNAMIC_BANDWIDTH
MinDynamicBandwidth=$MIN_DYNAMIC_BANDWIDTH
MAXPOSITIONERRORSQUARED=$MAX_POSITION_ERROR_SQUARED
MoveRepSize=$MOVE_REP_SIZE
CLIENTADJUSTUPDATECOST=$CLIENT_ADJUST_UPDATE_COST
bMovementTimeDiscrepancyDetection=$MOVEMENT_TIME_DISCREPANCY_DETECTION
bMovementTimeDiscrepancyResolution=$MOVEMENT_TIME_DISCREPANCY_RESOLUTION
bMovementTimeDiscrepancyForceCorrectionsDuringResolution=$MOVEMENT_TIME_DISCREPANCY_FORCE_CORRECTIONS_DURING_RESOLUTION
MAXCLIENTUPDATEINTERVAL=$MAX_CLIENT_UPDATE_INTERVAL
MaxMoveDeltaTime=$MAX_MOVE_DELTA_TIME
MaxClientSmoothingDeltaTime=$MAX_CLIENT_SMOOTHING_DELTA_TIME
MaxClientForcedUpdateDuration=$MAX_CLIENT_FORCED_UPDATE_DURATION
ClientNetSendMoveDeltaTime=$CLIENT_NET_SEND_MOVE_DELTA_TIME
ClientNetSendMoveDeltaTimeStationary=$CLIENT_NET_SEND_MOVE_DELTA_TIME_STATIONARY
ClientNetSendMoveThrottleOverPlayerCount=$CLIENT_NET_SEND_MOVE_THROTTLE_OVER_PLAYER_COUNT
ServerForcedUpdateHitchThreshold=$SERVER_FORCED_UPDATE_HITCH_THRESHOLD

[/Script/Engine.GameSession]
ConnectionTimeout=$CONNECTION_TIMEOUT
InitialConnectTimeout=$INITIAL_CONNECT_TIMEOUT
MaxPlayers=$MAX_PLAYERS